/* Recently Linked Card */
.card {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1px;
    position: relative;
    border-radius: 8px;
    flex-shrink: 0;
    width: 100%;
}

.card> :first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card> :last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.item {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.itemLeft {
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
}

/* Avatar Small */
.avatarSmall {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
    border-radius: 9999px;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
}

.avatarSmallImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Item Info */
.itemInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12px;
    position: relative;
}

.itemName {
    font-size: 14px;
    line-height: 20px;
    color: #171717;
    font-family: 'Nimbus Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.itemLinkedDate {
    font-size: 12px;
    line-height: 16px;
    color: #525252;
    font-family: 'Nimbus Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

/* Item Time */
.itemTime {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex-shrink: 0;
}

.itemTimeText {
    font-size: 12px;
    line-height: 16px;
    color: #525252;
    font-family: 'Nimbus Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

/* Divider */
.divider {
    border-top: 1px solid #e5e5e5;
    position: relative;
    flex-shrink: 0;
    width: 100%;
    padding-bottom: 8px 0;
}